In [21]:
import numpy as np
import pandas as pd

In [22]:
dataset=pd.read_csv("https://raw.githubusercontent.com/RafsanJany-44/Machine-School/main/datasets/Machine_readable_file_mei_march_2022.csv")

In [23]:
dataset.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,MEIM.S1WA,1999.04,80267.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN
1,MEIM.S1WA,1999.05,70803.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN
2,MEIM.S1WA,1999.06,65792.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN
3,MEIM.S1WA,1999.07,66194.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN
4,MEIM.S1WA,1999.08,67259.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN

In [24]:
dataset.shape

(18326, 14)

In [25]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18326 entries, 0 to 18325
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  18326 non-null  object
 1   Period            18326 non-null  float64
 2   Data_value        18070 non-null  float64
 3   Suppressed        256 non-null    object
 4   STATUS            18326 non-null  object
 5   UNITS             18326 non-null  object
 6   Magnitude         18326 non-null  int64
 7   Subject           18326 non-null  object
 8   Group             18326 non-null  object
 9   Series_title_1    18326 non-null  object
 10  Series_title_2    18326 non-null  object
 11  Series_title_3    18326 non-null  object
 12  Series_title_4    8505 non-null   object
 13  Series_title_5    0 non-null      float64
dtypes: float64(3), int64(1), object(10)
memory usage: 2.0+ MB

#Data separating for target value

we can use both indexing and <i>.iloc</i> funtion to get access into data. But before feedin the data to the model we have to use <i>.values.</i> We can use .iloc when the colunms are too many. And we can use indexing when the target colunm is in the middle.

In [26]:
var=dataset[["Series_reference","Period","Data_value"]] # call like list elements with column name

In [27]:
var2=var.values #.values remove the col name and make an numpy array
var2 #gives array

array([['MEIM.S1WA', 1999.04, 80267.0],
       ['MEIM.S1WA', 1999.05, 70803.0],
       ['MEIM.S1WA', 1999.06, 65792.0],
       ...,
       ['MEIQ.S2ZT', 2021.09, nan],
       ['MEIQ.S2ZT', 2021.12, nan],
       ['MEIQ.S2ZT', 2022.03, nan]], dtype=object)

In [28]:
var_type2= list(dataset.iloc[:0,:])
var_type2

['Series_reference',
 'Period',
 'Data_value',
 'Suppressed',
 'STATUS',
 'UNITS',
 'Magnitude',
 'Subject',
 'Group',
 'Series_title_1',
 'Series_title_2',
 'Series_title_3',
 'Series_title_4',
 'Series_title_5']

but the problem occures when there are many colunms and the target colunm is in the middle then what to do?

So we will use a generalize function to select the y and x axis

In [29]:

def sep_XY(dataset,target):
  x_col_name= list(dataset.iloc[:0,:])
  x_col_name.remove(target)
  return (dataset[x_col_name].values),(dataset[target].values)

In [30]:
X,y=sep_XY(dataset,"STATUS")
print(X)
print(y)

[['MEIM.S1WA' 1999.04 80267.0 ... 'Actual' nan nan]
 ['MEIM.S1WA' 1999.05 70803.0 ... 'Actual' nan nan]
 ['MEIM.S1WA' 1999.06 65792.0 ... 'Actual' nan nan]
 ...
 ['MEIQ.S2ZT' 2021.09 nan ... 'Trend' nan nan]
 ['MEIQ.S2ZT' 2021.12 nan ... 'Trend' nan nan]
 ['MEIQ.S2ZT' 2022.03 nan ... 'Trend' nan nan]]
['F' 'F' 'F' ... 'C' 'C' 'C']

<font color="green">Testing with logistic reg</font>

#data encoding

#Deal with Null value

In [20]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18326 entries, 0 to 18325
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  18326 non-null  object
 1   Period            18326 non-null  float64
 2   Data_value        18070 non-null  float64
 3   Suppressed        256 non-null    object
 4   STATUS            18326 non-null  object
 5   UNITS             18326 non-null  object
 6   Magnitude         18326 non-null  int64
 7   Subject           18326 non-null  object
 8   Group             18326 non-null  object
 9   Series_title_1    18326 non-null  object
 10  Series_title_2    18326 non-null  object
 11  Series_title_3    18326 non-null  object
 12  Series_title_4    8505 non-null   object
 13  Series_title_5    0 non-null      float64
dtypes: float64(3), int64(1), object(10)
memory usage: 2.0+ MB

In [19]:
print(dataset.isnull().sum())

Series_reference        0
Period                  0
Data_value            256
Suppressed          18070
STATUS                  0
UNITS                   0
Magnitude               0
Subject                 0
Group                   0
Series_title_1          0
Series_title_2          0
Series_title_3          0
Series_title_4       9821
Series_title_5      18326
dtype: int64

<b><ul>
<li>Deleting the columns with missing data
<li>Deleting the rows with missing data
<li>Filling the missing data with a value – Imputation
<li>Imputation with an additional column
<li>Filling with a Regression Model
</ul></b>

Deleting the columns with missing data